# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env files (CRITICAL)
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS
.DS_Store

# Docker
postgres_data/

# Drizzle
drizzle/*.sqlite
drizzle/meta

# IDE
.vscode/
.idea/

# Misc
coverage/

# Excel import files

data/*.xlsx
*.xlsx

# or specific file

data/Database.xlsx
Database.xlsx